[submodule "jni/SDL"]
	path = jni/SDL
	url = https://github.com/davidsiaw/SDL2.git
[submodule "jni/SDL2_image"]
	path = jni/SDL2_image
	url = https://github.com/davidsiaw/SDL2_image.git
[submodule "jni/SDL2_ttf"]
	path = jni/SDL2_ttf
	url = https://github.com/davidsiaw/SDL2_ttf.git
[submodule "jni/glm"]
	path = jni/glm
	url = https://github.com/g-truc/glm.git
